In [2]:
for num in range(0,20):
   print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for n in range(10,20):
    print(n,end= ' ')

10 11 12 13 14 15 16 17 18 19

In [9]:
list2=[10, 20, 14, 55, 43, 87, 76]
print("number of items in the list2:")
print(len(list2))

number of items in the list2:
7

In [11]:
Title = "Artificial Intelligence"
print("Title")
for n in Title:
    print(n)

Title
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
Name="-Your Name-"
age="-Your Age-"
prof="-Your Profession-"
print(Name)
print(age)
print(prof)

-Your Name-
-Your Age-
-Your Profession-

In [16]:
#tuples
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [17]:

tup1=(0, 1, 2, 3)
tup2=('python', 'HOPE')
tup=tup1+tup2
print(tup)

(0, 1, 2, 3, 'python', 'HOPE')

In [20]:
#oddnumb in the list
numlist=(20,10,16,19,25,1,276,188)
for n in numlist:
    if(n%2!=0):
        print(n,"is odd")

19 is odd
25 is odd
1 is odd

In [21]:
#even numbers in the list
nolist= (20,10,16,19,25,1,276,188)
for n in nolist:
    if(n%2==0):
        print(n,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even